@(form: Form[models.TransactionFormData], options: Seq[(String, String)], referer: String)(implicit messages: Messages, flash: Flash)

@helper.select(form("type"), options ,'id -> "transaction_type", '_label -> "Transaction type", 'class -> "form-control", '_showConstraints -> false)
@helper.inputText(form("amount"), 'id -> "amount", 'class -> "form-control", '_label -> "Amount", '_showConstraints -> false)
@helper.inputDate(form("date"), 'id -> "date", 'class -> "form-control", '_label -> "Date", '_showConstraints -> false)
@helper.inputText(form("description"), 'id -> "description", 'class -> "form-control", '_label -> "Transaction description", '_showConstraints -> false)
@helper.inputText(form("category"), 'id -> "category", 'class -> "form-control", '_label -> "Category", '_showConstraints -> false)

<input type="hidden" name="referer" value="@referer" />

<a class="btn btn-default" href="@referer">Cancel</a>
<button type="submit" class="btn btn-success">Save</button>