.debit {
    color: #d9534f;
}

.debit:before {
    content: '';
}

.credit {
    color: #5cb85c;
}

.credit:before {
    content: '\00a0';
}

ul.has-error {
    list-style: none;
    padding-left: 0px;
    color: #a94442;
    font-weight: bold;
}

.msg-danger {
    padding: 15px;
}

.account-edit-btn {
    font-size: 14px;
}


th.transactions-table-date {
    width: 170px;
}

th.transactions-table-amount {
    width: 170px;
}

table.transactions td.transaction {
    padding-right: 20px;
}