.negative-amount {
    color: #d9534f;
}

.expense:before {
    content: '-';
}

.positive-amount {
    color: #5cb85c;
}

.income:before {
    content: ' ';
}

.account-edit-btn {
    font-size: 12px;
}

.transaction-vertical {
    text-align: right;
}

/* account-show */
th.transactions-table-date {
    width: 125px;
}

th.transactions-table-amount {
    width: 100px;
}

table.transactions td.transaction {
    padding-right: 20px;
}
