<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
    <head>
        <title>Show</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>Edit account</h2>

            <form method="post" th:action="@{'/accounts/'+ ${accountId} +'/update'}" th:object="${accountForm}"
                  th:include="account/partials/form :: content">
            </form>
        </div>
    </body>
</html>
