<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>Lists</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>Accounts <a th:href="@{/accounts/new}" class="btn btn-success pull-right">Add an account</a></h2>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Account name</th>
                        <th>Balance</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="account : ${accounts}">
                        <td><a th:href="@{'/accounts/' + ${{account.getAccountId()}}}" th:text="${{account.getDescription()}}"></a></td>
                        <td th:text="${#numbers.formatDecimal(account.getBalance(), 0, 'WHITESPACE', 2, 'COMMA')}" th:class="${#financesUtils.cssClassesOf(account.getBalance())}"></td>
                        <td>
                            <a class="pull-right" th:href="@{'/accounts/'+ ${account.getAccountId()} + '/remove' }"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            <a class="pull-right" th:href="@{'/accounts/'+ ${account.getAccountId()} + '/edit' }"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
