<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
    <head>
        <title>New</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>New transaction</h2>

            <form method="post" th:action="@{'/accounts/' + ${account.getAccountId()} + '/transactions/create' }"
                  th:object="${transactionForm}"
                  th:include="transaction/partials/form :: content">

            </form>
        </div>
    </body>
</html>
